<div class="box">
    <div class="input-group">
        <input type="search" class="form-control rounded col-md-2" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
        <button type="button" class="btn btn-primary">search</button>
      </div>
    
    <h1>Favorites</h1>   
   <div class="books">
    <div class="row gy-4 row-cols-2 row-cols-sm-6 row-cols-md-8">
                
        <div class="col">
          <a routerLink="/public/book-description"><img src="../../assets/sample2.png" alt="sample 2"></a>
          <br>
          <p>BOOK TITLE</p>
        </div>
        
        <div class="col">
            <img src="../../assets/sample2.png" alt="sample 2">
            <br>
            <p>BOOK TITLE</p>
          </div>
          

   </div>
</div>