<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>


<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar class="example-toolbar">
        
        <h1 class="example-app-name">GC SHELF</h1>
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      
        <p class="inline ms-auto p-2"><small>{{todayDate | date:'MMM d, y, h:mm a'}}</small></p> 
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <div class="side-contents">
                <img src="../../assets/icons8-administrator-male-100.png" alt="Picture" class="img-fluid rounded-circle mt-3 mb-4">
                <h4>Admin Name</h4>
                <h5>Admin Email</h5>
        <hr>
    </div>
        
        <mat-nav-list>
            
                    <mat-list class="mt-3">
                            <div class="menu">
                                <mat-list-item><mat-icon>home</mat-icon><a routerLink="/admin/dashboard" style="text-decoration: none; color: white;">   Dashboard </a></mat-list-item>
                                <mat-list-item> <mat-icon>star</mat-icon><a routerLink="/admin/pending" style="text-decoration: none; color: white;">  Pending Approval </a></mat-list-item>
                                <mat-list-item><mat-icon>category</mat-icon><a routerLink="/admin/books" style="text-decoration: none; color: white;">  Library Books </a></mat-list-item>
                                <mat-list-item><mat-icon>category</mat-icon><a routerLink="/admin/physical-books" style="text-decoration: none; color: white;">  Hard Copy </a></mat-list-item>
                                <mat-list-item><mat-icon>speaker_notes</mat-icon><a routerLink="/admin/approved" style="text-decoration: none; color: white;">   Approved History </a></mat-list-item>
                            </div>
                                    <div class="bottom-contents">
                                        <mat-list-item class="logout"><mat-icon>logout</mat-icon><a routerLink="/login" style="text-decoration: none; color: white;"> Logout </a></mat-list-item>
                                    </div>
                    </mat-list>
            
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  



